.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #cae2f1; */
    padding: 10px 20px;
  }
  
  .navbar-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-items li {
    margin-right: 20px;
    font-size: 1.2rem;
    color: rgb(19, 18, 18);
    cursor: pointer;
  }
  
  .navbar-items li:hover {
    text-decoration: underline;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px;
  }
  
  .search-box input {
    border: none;
    outline: none;
    padding: 5px;
    width: 80px; 
    height: 10px;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  
  .dark-mode {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: auto; 
  }
  